* {
    box-sizing: border-box;
}

.fancy-header {
    color: purple; /* single line comment */
    text-decoration: underline;
    text-align: center;
    font-size: 60px;
}

h2 {
    color: blue;
    text-decoration: underline;
}

body {
    background-color: beige;
    font-family: "Apple Chancery"
}

header {
    background-image: url("../img/veridian.jpeg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.imageToEdit {
    width: 300px;
    height: 300px;
}

ul {
    list-style-type: upper-roman;
}

table {
    padding: 10px;
}

a:hover {
    color: purple;
}

.loader {
    display: block;
    width: 84px;
    height: 84px;
    position: relative;
    float: left;
}

.loader:before , .loader:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #FFF;
    transform: translate(-50% , -100%)  scale(0);
    animation: push_401 2s infinite linear;
}

.loader:after {
    animation-delay: 1s;
}

@keyframes push_401 {
    0% , 50% {
        transform: translate(-50% , 0%)  scale(1)
    }

    100% {
        transform: translate(-50%, -100%) scale(0)
    }
}
